<div class="col-md-12">
    <div class="row">
        <div class="col-xs-3 col-md-3" ng-repeat="client in clients | orderBy:sortField:sortDescending">
            <div class="thumbnail">
                <img src="{{client.imageUrl}}" alt="...">
                <div class="caption">
                    <h3>
                        <in-place-edit field-name='givenName' input-type='text' input-class='input-medium' model=client>{{client.givenName}}</in-place-edit>
                        <in-place-edit field-name='familyName' input-type='text' input-class='input-medium' model=client>{{client.familyName}}</in-place-edit>
                    </h3>
                    <p>
                        Birthday: <in-place-edit field-name='birthday' input-type='text' input-class='input-small' model=client>{{client.birthday}}</in-place-edit>
                    </p>
                    <p>
                        <a class="btn btn-default" role="button" ng-click="updateClient(client)">edit</a>
                        <a class="btn btn-default" role="button" ng-click="deleteClient(client)">delete</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>