body {
    padding-top: 70px;
}

#body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: white;
}

.navbar-inverse {
    background-color: #2a2f43!important;
}

.navbar .navbar-brand,
.navbar .navbar-text {
    color: white;
}

.navbar .navbar-brand img {
    position: relative;
    top:-5px;
}

.navbar .navbar-brand:hover {
    color: white;
}

.icon-white {
    color: white;
}
